<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>colors</title>
</head>
<body>
<label for="options">Color:</label>
    <form id="options" action="#" method="post">
        <check if="{{ isset(@errors['color']) }}">
            <p>{{ @errors['color'] }}</p>
        </check>
        <select name="color">
            <repeat group ="{{ @colors }}" value="{{ @colorOption }}">
                <option>{{ @colorOption }}</option>
            </repeat>
        </select>

        <!-- Add pet names checkboxes here -->
        <p>Select Pet Name:
            <check if="{{ @errors['pname'] }}">
                <span class="err">{{ @errors['pname'] }}</span>
            </check><br>

            <repeat group="{{ @petname }}" value="{{ @nameOption }}">
                <label><input type="checkbox" name="pname[]" value="{{ @nameOption }}"
                    <check if="{{ !empty(@pname) && in_array(@nameOption, @pname) }}">
                        checked="checked"
                    </check>
                    >{{ @nameOption }}</label><br>
            </repeat>
        </p>

        <input type="submit" value="submit">
    </form>

</body>
</html>